
 
body{

    background-color: rgb(7, 51, 77);

    font-family: "Calistoga", "sans-serif";

    --main-bg-color:blue; /* Main background color */
}


/* Title-block */
.title-block{

color: white;
background-color: var(--main-bg-color);

padding-left: 10px;
padding-right: 10px;

font-size: 6rem;
margin-top:10px;
}