body {
    /* SETUP VARIABLES */
    /* --main-page-body-color: #202936; */
    --main-page-body-color: #144B96;
    background-color: var(--main-page-body-color);
    font-family: "Calistoga", "sans-serif";
    --main-bg-color: rgb(37, 37, 107);
    /* Main background color */
    --main-fc-color: wheat;
    --advert-bg-color: rgb(196, 69, 40);
    --advert-fc-color: rgb(252, 250, 250);
    /* Plank for Global Economy Page */
    --plank-bg-color: rgb(185, 201, 223);
    --plank-fc-color: rgb(85, 78, 64);
    --stats-fc-color: black;
    --stats-bg-color: rgb(241, 197, 114);
    /* Pledge Prioritization page */
    --pledge-content-bg-color: wheat;
    --pledge-content-fc-color: rgb(10, 10, 70);
    --pledge-controller-bg-color: yellow;
    --pledge-controller-fc-color: black;
    --pledge-value-bg-color: yellow;
    --pledge-value-fc-color: black;
    /* Main Foreground Color */
    --myRed: #E0473A;
    /* Party Colours */
    --party-labour: red;
    --party-conservative: blue;
    --party-lib-dem: rgb(211, 211, 42);
    --party-green: green;
    --party-unknown: grey;
    /* NewsFlash Bar */
    --news-flash-bar: rgb(109, 182, 109);
    /* District Background */
    --district-background: rgb(122, 199, 122);
    --district-list-backing: rgb(71, 71, 88);
    --promoted-pledge-backstrip: rgb(231, 231, 146);
}
/* Burger Nav */
.nav-item {
    margin-right: 10px;
    color: var(--main-fc-color);
    font-size: 1.5rem;
}
.dropdown-item {
    color: var(--main-bg-color);
}
.point-hand {
    color: var(--main-fc-color);
    font-size: 2rem;
}
/* Title-block */
.title-block {
    color: var(--main-fc-color);
    background-color: var(--main-bg-color);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.title-block p {
    text-align: center;
}
.title-block h1 {
    text-align: center;
    font-size: 3rem;
    text-shadow: 3px 3px var(--myRed);
}
/* Burger Stuff */
.burger ul, li {
    margin: 0px;
    text-decoration: none;
    list-style: none;
}
/* Main Content */
.globe-icon {
    text-align: center;
    /* color: var(--main-fc-color); */
    color: white;
    font-size: 12rem;
}
/* Font Awsome Images */
.font-awsome {
    font-size: 2rem;
    color: var(--main-fc-color);
    margin-left: 10px;
    margin-right: 10px;
}
/* Footer stuff */
.footer {
    margin-top: 10px;
    text-align: center;
    bottom: 0px;
    color: var(--main-fc-color);
}
.main-title {
    border-radius: 10px;
    background-color: black;
    color: var(--main-fc-color);
}
.subtitle-1, h1 {
    border-radius: 10px;
    background-color: black;
    color: var(--main-fc-color);
}
.subtitle-2, h1 {
    border-radius: 10px;
    background-color: black;
    color: var(--main-fc-color);
}
.subtitle-3, h1 {
    border-radius: 10px;
    background-color: black;
    color: var(--main-fc-color);
}
/* Candidate images on front page */
.candidates img {
    border: solid 2px var(--main-fc-color);
    border-radius: 50%;
    width: 100px;
    height: auto;
}
.candidates img:hover {
    width: 105px;
}
.candidates h1 {
    margin-top: 5px;
    text-align: center;
    font-size: 2rem;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}
.advert {
    color: var(--main-fc-color);
    background-color: var(--advert-bg-color);
    color: var(--advert-fc-color);
    padding: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
/* Make Things Flash */
.flashNow {
    color: orange;
    background-color: black;
}
.flashHandNow {
    color: var(--myRed);
}
#political-sway h1 {
    color: white;
    background-color: black;
}
div .ribbon h1 {
    margin-top: 20px;
    /* color: red; */
    font-size: 4rem;
}
/* Generate World Stats Button */
#genbutton {
    margin-top: 5px;
    margin-bottom: 10px;
}
/* Global Table Stuff */
h2 {
    border: 4px double var(--myRed);
    color: white;
    margin-top: 5px;
    font-size: 1rem;
}
table, th, td h3 {
    width: 100%;
    border: 1px double var(--main-bg-color);
    font-size: 1rem;
}
.colorTable h3 {
    background-color: rgb(201, 122, 139);
    color: black;
    border: none;
}
.highLight {
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgb(233, 233, 156);
    color: black;
}
.highLight2 h3 {
    background-color: orange;
    color: black;
    text-shadow: 2px 2px yellow;
}
.fantasy-sub-heading h1 {
    font-size: 2rem;
    padding: 5px;
}
.readThis {
    text-justify: newspaper;
    font-size: 1rem;
    color: var(--main-bg-color);
    background-color: var(--main-fc-color);
}
.globe-icon {
    font-size: 6rem;
    color: var(--plank-bg-color);
    text-shadow: 4px 4px black;
}
/* Jump to Global Economy Button on START page */
.global-ecom-button-show {
    display: inline-block;
}
.global-ecom-button-hide {
    display: none;
}
#district-list {
    width: 100%;
    min-height: 100px;
    background-color: var(--district-list-backing);
    padding: 5px 5px 5px 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}
/* plank boards hiolding each distric information */
.plank h1 {
    padding: 5px;
    width: 100%;
    min-height: 110px;
    color: var(--plank-fc-color);
    background-color: var(--plank-bg-color);
    font-size: 1.5rem;
    box-shadow: 5px 6px black;
}
.plank h1:hover {
    background-color: var(--stats-bg-color);
    text-decoration: none;
}
.dN {
    text-align: center;
    color: var(--myRed);
    background-color: rgb(214, 214, 6);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-shadow: 2px 2px black;
}
.stats {
    /* Statisicts information setting */
    display: inline;
    font-size: 2rem;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--stats-fc-color);
    background-color: var(--stats-bg-color);
    text-shadow: 2px 2px var(--main-fc-color);
}
/* District Stuff */
/* Buttons on district page */
.district-population-b1 h1 {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(236, 175, 175);
    color: var(--main-fc-color);
    text-shadow: 1px 1px black;
}
.district-population-b2 h1 {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(164, 199, 164);
    color: var(--main-fc-color);
    text-shadow: 1px 1px black;
}
.button-icons {
    color: rgb(194, 183, 161);
    font-size: 4rem;
}
/* Code from Stackoverflow - Philip Feldmann */
/* Keep text from overspilling out of columns */
.keep-insideBSol {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}
/* Ribbon Color Classes for Political Parties */
.make-ribbon-red h1 {
    color: var(--party-labour);
}
.make-ribbon-blue h1 {
    color: var(--party-conservative);
}
.make-ribbon-yellow h1 {
    color: var(--party-lib-dem);
}
.make-ribbon-green h1 {
    color: var(--party-green);
}
.make-ribbon-grey h1 {
    color: var(--party-unknown);
}
/* Ribbon Color Classes for Political Parties */
.make-people-red {
    background-color: var(--party-labour);
}
.make-people-blue {
    background-color: var(--party-conservative);
}
.make-people-yellow {
    background-color: var(--party-lib-dem);
}
.make-people-green {
    background-color: var(--party-green);
}
.make-people-grey {
    background-color: var(--party-unknown);
}
/* Pledge Priority Page  */
#pledge-priority {
    border-radius: 10px;
    background-color: var(--main-page-body-color);
    color: var(--main-fc-color);
}
.pledge-content h3 {
    /* border-radius: 10px; */
    font-size: 1rem;
    background-color: var(--pledge-content-bg-color);
    color: var(--pledge-content-fc-color);
    text-shadow: 1px 1px yellow;
    padding: 10px;
}
.pledge-controller h3 button {
    /* border-radius: 10px; */
    font-size: 1rem;
    background-color: var(--pledge-controller-bg-color);
    color: var(--pledge-controller-fc-color);
    padding: 5px;
}
#pledge-value h3 {
    /* border-radius: 10px; */
    font-size: 1rem;
    background-color: var(--pledge-value-bg-color);
    color: var(--pledge-value-fc-color);
}
.pledge-title-bar {
    background-color: orange;
    color: white;
}
#PTV {
    /* border-radius: 10px; */
    text-align: center;
    color: white;
    background-color: orange;
    margin-bottom: 10px;
}
/* .p-index{
background-color: red;
color: yellow;
} */
/* To be deleted- for test bottom bar */
.list-item-bottom {
    font-size: 1rem;
    display: inline-block;
    text-decoration: none;
    color: white;
}
.list-item-bottom a {
    font-size: .75rem;
}
.district-population-b1 a {
    text-decoration: none;
}
.district-population-b2 a {
    text-decoration: none;
}
/* For Game Reset Page Image */
.card {
    background-color: var(--main-page-body-color);
    color: wheat;
}
.district-data, h3 {
    border-radius: 10px;
    border: 4px double;
    font-size: 1rem;
    /* background-color:rgb(238, 198, 119); */
    background-color: var(--district-background);
    color: var(--main-bg-color);
    box-shadow: 3px 3px var(--main-bg-color);
    text-shadow: 1px 1px rgb(245, 210, 10);
    margin-bottom: 10px;
}
.district-page-action-button {
    background-color: orange;
    text-shadow: 3px 3px black;
    /* margin-top: 10px;
    scroll-margin-bottom: 10px; */
}
.solutions {
    /* Solutins for issues position 1-5 */
    background-color: wheat;
    color: var(--myRed);
}
/* Testing Mode Stuff On/Off*/
.hide-solutions {
    display: none;
}
.point-up {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 2rem;
    color: var(--main-fc-color);
    text-shadow: 2px 2px orange;
}
.un-addressed-issue-flasher {
    color: black;
}
/* Progress Bar on View Districts page */
.progress-bar {
    color: var(--main-page-body-color);
}
/* Highlight district name on district view page */
.hightlight-district-name {
    border: solid;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: var(--myRed);
    border-color: var(--main-bg-color);
    background-color: rgb(216, 216, 13);
    text-shadow: 1px 1px black;
}
/* Highlight district Number on district View Page */
.highlight-district-number {
    border: solid;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    text-shadow: 2px 2px black;
    background-color: var(--myRed);
}
/* tabloid headline */
/* NEWSFLASH BAR */
.tabloid {
    font-size: 2rem;
    background-color: var(--news-flash-bar);
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    /* display: inline; */
    color: var(--main-page-body-color);
}
/* UK-MAP image */
.map-uk img {
    border-radius: 10px;
    width: 100px;
    height: auto;
    margin-bottom: 5px;
}
/* Create Manifesto Page - seperate between button and panel */
#raw-manifesto-pool {
    margin-top: 10px;
}
#raw-pledge-pool {
    margin-top: 10px;
}
/* Pledge Pool */
#raw-pledge-pool, h4 {
    border-radius: 10px;
    border: 1px dashed;
    font-size: 1rem;
    color: var(--main-page-body-color);
    background-color: rgb(107, 124, 107);
    text-shadow: 1px 1px white;
    margin-bottom: 10px;
}
#raw-pledge-item, p {
    margin: 5px 5px 5px 5px;
}
/* raw pledge index numbers */
.raw-pledge-index {
    color: white;
    border-color: white;
    background-color: var(--myRed);
    text-shadow: 1px 1px 1px black;
    border: 2px solid;
    border-radius: 50%;
    padding: 2px 5px 2px 5px;
}
/* manifesto page */
#raw-manifesto, h4 {
    border-radius: 10px;
    border: 1px solid;
    font-size: 1rem;
    color: var(--main-page-body-color);
    background-color: wheat;
    text-shadow: 1px 1px white;
    box-shadow: 2px 2px black;
    margin-bottom: 10px;
}
/* Make manifesto pledges white backing */
.pledge-plank {
    background-color: white;
    color: var(--main-bg-color);
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}
/* Make Selected Pledges RED */
.selected-from-pledge-pool {
    background-color: var(--myRed);
    color: white;
    text-shadow: 2px 2px black;
    border-radius: 10px;
}
/* Manifesto Istructions box */
.manifesto-instructions h1 {
    font-size: 1.5rem;
    background-color: wheat;
    color: var(--main-bg-color);
    text-shadow: 1px 1px white;
    padding: 5px 5px 5px 5px;
}
/* Save Button on Manifesto Creation Page */
.manifesto-save-button {
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: black;
}
/* PLEDGE PRIORITY PAGE */
#manifesto-pledges h2 {
    background-color: white;
    color: var(--main-bg-color);
    border-radius: 10px;
    /* text-shadow: 1px 1px grey; */
    padding: 10px 10px 10px 10px;
    min-height: 100px;
}
#pledge-priority h2 {
    background-color: wheat;
    color: var(--main-bg-color);
}
#base-plate h2 {
    background-color: rgb(223, 189, 128);
    color: var(--main-bg-color);
}
/* .pb {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 80px;
} */
.general-buttons-fmt {
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 2px;
    border-radius: 10px;
    padding: 4px;
    border: 2px solid;
    text-shadow: 1px 1px rgb(156, 148, 148);
}
.priority-buttons-format div {
    background-color: var(--main-page-body-color);
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: auto;
}
/* Back To Districts View Button */
.back-to-districts-view {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    border-radius: 10px;
    padding: 4px;
}
.highlight-manifesto-psel h2 {
    background-color: var(--myRed);
    color: black;
}
.dpanel:hover {
    border-radius: 10px;
    background-color: var(--myRed);
    color: orange;
}
.highlight-pbutt {
    background-color: var(--myRed);
    color: black;
}
#current-district {
    /* On pledge Promotion page. The current District Name  */
    border-radius: 10px;
    padding: 2px 5px 5px 2px;
    background-color: wheat;
    color: var(--myRed);
    text-shadow: 1px 1px 1px blue;
}
#promoted-pledges p {
    border-radius: 10px;
    font-size: 1rem;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--promoted-pledge-backstrip);
    color: black;
}
.promo-circle {
    font-size: .70rem;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-top: 2px;
    border: 1px solid;
    background-color: pink;
    color: yellow;
    text-shadow: 4px 4px 4px rgb(253, 0, 0);
}
.plno {
    /* Manifesto promoted pledge priority coins on View Districs Page */
    border-radius: 50%;
    background-color: rgb(226, 172, 181);
    color: wheat;
    text-shadow: 1px 1px black;
}
.people-list-format h2 {
    font-size: .75rem;
    color: rgb(230, 215, 187);
    text-shadow: 1px 1px black;
}
/* Number of High Pledges avaoilable in Pledge priority page */
.number-of-high-pledges h2 {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    font-size: 2rem;
    padding-left: 5px;
    padding-right: 5px;
    background-color: yellow;
    color: red;
    border: 4px solid white;
    text-shadow: 2px 2px black;
}
/* Label above No of High Pledges left on pledge priority page */
#number-of-high-pledges-instructions h3 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 1rem;
    background-color: var(--myRed);
    color: wheat;
    text-shadow: 1px 1px black;
}
/* Hide the create manifesto button from page once completed */
/* So it does not show on page refresh */
.remove-c-m-b-a {
    display: none;
}
/* UK MAAP BIG */
.map-big, img {
    width: 60%;
    height: Auto;
    border-radius: 10px;
    margin-bottom: 10px;
}
.highlight-sign {
    background-blend-mode: var(--myRed);
}
.profile-shot {
    width: 100px;
    height: auto;
    border-radius: 10px;
}
#marquee {
    font-size: 1rem;
    background-color: black;
    /* color: limegreen; */
}
/* Results page Table backgrounds */
#results-stats {
    margin-top: 10px;
    font-size: .50rem;
    color: wheat;
    /* border:1px solid red; */
}
/* Stats Output */
.stats-output, h2 {
    font-size: .75rem;
}
#results-button, .btn {
    margin-bottom: 10px;
}


/* Animation for Cog Wheel */
/* On results page */

@keyframes rotate-cog {
    from {
        transform: rotate(0deg);
    }
    to 
    {
       transform: rotate(3600deg);
    }
}
 #working-cog ,.fa-cog
{
    animation-name: rotate-cog;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}